@charset "UTF-8";
/* CSS Document */

body {
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
	
	-webkit-font-smoothing: antialiased;			  
}

/* TEXT ================================================================================ */
.heading{
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	line-height: 16px;
	padding-top:70px;
	padding-left: 100px;
}

.heading-source{
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	line-height: 16px;
	padding-top:20px;
	padding-left: 100px;
}

/* LAYOUT ================================================================================ */

#heading-next{
	font-family: 'Ubuntu', sans-serif;
	font-size: 34px;
	text-align: center;
	line-height: 30px;
	padding-top:26px;
}

#container{
    margin-left: 100px;
    margin-top: 0px;
    margin-right: 100px;
    margin-bottom: 35px;
    width: 1240px;
    height: 558px;
	border: 0px;
	text-align: left;
	line-height: 16px;
	/*border-color: #363636;*/
}

/* CHART ================================================================================ */

svg {
	margin: 0px auto;
	display: inline-block;
	padding-top: 20px;
}

/* Map ================================================================================ */

#map {
    float: left;
    position: relative;
    padding-bottom: 25px;
    top: 65px;
    left: 45px;
    height: 350px;
    width: 570px;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: 1;
}

.box {
    position: absolute;
    top: 26%;
    left: 25%;
    margin: -100px -150px -100px -150px;
    background-image: linear-gradient(180deg, #FFF, rgba(255,255,255,0.75));
    opacity: 0.95;
    border-radius: 0.5em;
    border: 20px solid transparent;
	padding:20px;
    text-align: left;
    line-height: 16px;
    max-height: 475px;
    right: 25%;
    bottom: 28%;
}

.background{
    position: absolute;
    right: 0px;
    top: -252px;
    z-index: -1;	
}

.background-ending{
	position: absolute;
	opacity: 0.8;
    right: 0px;
    top: 0px;
    z-index: -1;	
}

#reminder2{
	position: absolute;
    top: 345px;
    left: 275px;
    font-size: larger;
	color:gray;
	animation-duration: 3s;
	animation-delay: 1s;
	animation-iteration-count: 1;
}

#reminder3{
	position: absolute;
    top: 275px;
    font-size: larger;
	color:gray;
	animation-duration: 3s;
	animation-delay: 1s;
	animation-iteration-count: 1;
}

#caption{
    z-index: -1;	
}

#textbox{
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	float:left;
	width:50%;
	line-height: 22px;
	padding-left: 100px;
	padding-bottom: 30px;
}	

#textbox-ending {
    position: absolute;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	line-height: 1.2;
    top: 10%;
    left: 7%;
    width: 412px;
    height: 412px;
}

#textbox-sources{
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	float:left;
	width:60%;
	line-height: 22px;
	padding-left: 100px;
	padding-bottom: 30px;
}	

#clicker{			 
    text-align: center;
    margin-top: 235px;
	margin-left: 100px;
    padding-bottom: 13px;
    font-family: 'Ubuntu', sans-serif;
	font-size:18px;
    border: 1.5px solid;
    border-color: #363636;
    width: 100px;
    cursor: pointer;
	animation-duration: 3s;
	animation-delay: 8s;
	animation-iteration-count: 1;
}

#textbox-next {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    float: right;
	position: relative;
	top:45px;
	right: 0px;
	width: 570px;
    line-height: 22px;
    padding-left: 50px;
	padding-bottom: 30px;
}

#clicker-next{			 
	position: absolute;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size:18px;
    border: 1.5px solid;
    border-color: #363636;
	cursor: pointer;
	width: 100px;
	padding-top: 10px;
	height: 30px;
	z-index: 15;
    top: 102%;
	left: 62%;
	margin: -100px 0 0 -150px;
}

#clicker-back{			 
	position: absolute;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size:18px;
    border: 1.5px solid;
    border-color: #363636;
	cursor: pointer;
	width: 100px;
	padding-top: 10px;
	height: 30px;
	z-index: 15;
    top: 102%;
	left: 52%;
	margin: -100px 0 0 -150px;
}

#clicker-end-next{			 
	position: absolute;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1.5px solid;
    border-color: #363636;
	width: 100px;
	padding-top: 10px;
	height: 30px;
	z-index: 15;
    top: 102%;
	left: 62%;
	margin: -100px 0 0 -150px;
    animation-duration: 3s;
    animation-delay: 9s;
    animation-iteration-count: 1;
}

#clicker-end-back{			 
	position: absolute;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1.5px solid;
    border-color: #363636;
	width: 100px;
	padding-top: 10px;
	height: 30px;
	z-index: 15;
    top: 102%;
	left: 52%;
	margin: -100px 0 0 -150px;
    animation-duration: 3s;
    animation-delay: 9s;
    animation-iteration-count: 1;
}

#clicker-about{			 
    text-align: center;
    margin-top: 304px;
	margin-left: 100px;
    padding-bottom: 13px;
    font-family: 'Ubuntu', sans-serif;
	font-size:18px;
    border: 1.5px solid;
    border-color: #363636;
    width: 100px;
    cursor: pointer;
	animation-duration: 3s;
	animation-delay: 0s;
	animation-iteration-count: 1;
}

#clicker-sources{			 
	position: absolute;
	text-align: center;
    margin-top: -66px;
    margin-left: 265px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    border: 1.5px solid;
    border-color: #363636;
    width: 100px;
    cursor: pointer;
}

#legend{
	font-size:14px;
	line-height: 18px;
	position: fixed;
	color: #fff;
	bottom: 20px;
	right: 3.59%;
	width: 200px;
	background-color: rgba(255, 255, 255, 0.8);
}

/*Animation*/

#intro1{
	animation-duration: 3s;
  	animation-delay: 0s;
 	animation-iteration-count: 1;
}

#intro2{
	animation-duration: 3s;
	animation-delay: 3.5s;
	animation-iteration-count: 1;
}

#intro3{
	animation-duration: 3s;
	animation-delay: 7s;
	animation-iteration-count: 1;
}

#ending1{
	animation-duration: 3s;
  	animation-delay: 0s;
 	animation-iteration-count: 1;
}

#ending2{
	animation-duration: 3s;
	animation-delay: 3.5s;
	animation-iteration-count: 1;
}

#ending3{
	animation-duration: 3s;
	animation-delay: 7s;
	animation-iteration-count: 1;
}

#poem {
	position: relative;
	font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
	top:34%;
	left:52%;
	animation-delay: 1s;
	animation-name: poem;
	animation-duration:45s;
	animation-timing-function: linear;
	animation-iteration-count:infinite;
}

#poem:hover {
    -webkit-animation-play-state: paused;
}

/* Make it move! */
@keyframes poem {
    0%   { top:   34% }
    100% { top: -190% }
}

/* FIGURES ======================================================================================== */

.circle-1{
	animation-duration: 3s;
	animation-delay: 1s;
	animation-iteration-count: 1;
}

.circle-2{
	animation-duration: 3s;
	animation-delay: 6s;
	animation-iteration-count: 1;
}

.chart-title{
	font-family:"Open Sans", sans-serif;
}

#chart {
	float: left;
	position: relative;
	top:45px;
	padding-left:0px;
	width: 570px;
	animation-duration: 3s;
	animation-delay: 1s;
	animation-iteration-count: 1;
}

#chart-no-animation {
	float: left;
	position: relative;
	top:45px;
	padding-left:0px;
	width: 570px;
}

#bar {
	float: left;
	animation-duration: 5s;
	animation-delay: 0s;
	animation-iteration-count: 1;
}

path {
	stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	opacity: 0.2;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.tick text{
	font-size: 11px;
	font-weight: normal;
}

.tick line{
	opacity: 0.3;
	/* stroke-dasharray: 4,4;*/
}

div.popover { 
	text-align: left;     
	width: 240px;          
	padding: 10px;  
	font: 11px sans-serif;
	line-height: 15px;
	background: lightgrey; 
	color: black;
	border: 0px;    
	border-radius: 8px;     
	pointer-events: all;   
}

div.tooltip { 
	display: inline-block;
	text-align: left;     
	font: 11px sans-serif;
	line-height: 15px;
	color: black;
	border: 0px;    
	border-radius: 8px;     
	pointer-events: all; 
	background: lightgrey;     
}

path.domain {
	stroke: none;
}

.y .tick line {
  stroke: #ddd;
}

ul{
	list-style-type: none;
}

r: black;
}

#popover636917 {
  position: absolute;
}

/*Other ================================================================================ */

a:visited, a:link{ 
	color: #000000;
	text-decoration: none;
	cursor: auto;
}
a:active, a:hover{ 
	color: #d25c4d;
	text-decoration: none;
	cursor: auto;
}
